.App,
.container__user {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
}

.add__user {
    margin-left: 20px;
}

.text__nothing {
    margin-left: 40px;
}

.display__user {
    margin-top: 20px;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.display__user .wrapper {
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.display__user .update__username {
    padding: 10px 0;
}

input,
button {
    padding: 5px 5px;
    margin: 10px 3px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: aqua;
}
